.fluentbox-24-filled6 {
  position: absolute;
  top: 660px;
  left: 44px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vecteezy-restaurant-logo-food-icon13 {
  position: absolute;
  height: 46.57%;
  width: 6.81%;
  top: 14.44%;
  right: 46.6%;
  bottom: 38.99%;
  left: 46.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fast-grill-5,
.todos-os-direitos5 {
  position: absolute;
  top: 242.67px;
  left: 789.33px;
}
.todos-os-direitos5 {
  top: 306.67px;
  font-size: 18.67px;
}
.vecteezy-restaurant-logo-food-container {
  position: relative;
  background-color: var(--color-darkorange);
  width: 1920px;
  height: 369.33px;
}
.footer6 {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 42.67px;
}
.cardpio-child,
.group-child34 {
  position: absolute;
  top: 304px;
  left: 105px;
  background-color: var(--color-gainsboro);
  width: 117px;
  height: 113px;
}
.group-child34 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange);
  width: 289px;
  height: 61px;
}
.vector-icon33 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 37px;
  height: 33px;
}
.ver-outras-unidades {
  position: absolute;
  top: 0;
  left: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 61px;
}
.rectangle-parent18 {
  position: absolute;
  top: 141px;
  left: 1579px;
  width: 289px;
  height: 61px;
  cursor: pointer;
}
.cardpio-inner {
  position: absolute;
  top: 156px;
  left: 0;
  width: 1920px;
  height: 342px;
  background-image: url(/public/frame-28@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-xl);
}
.vecteezy-restaurant-logo-food-icon14 {
  position: absolute;
  top: 260px;
  left: 107px;
  border-radius: var(--br-xl);
  width: 132px;
  height: 132px;
  object-fit: cover;
}
.cardpio6,
.home5 {
  position: absolute;
  top: 48px;
  display: inline-block;
}
.home5 {
  left: 904px;
  width: 126.67px;
  cursor: pointer;
}
.cardpio6 {
  left: 1089.33px;
  width: 213.33px;
}
.header-child8,
.rea-do-cliente5 {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-child8 {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente5 {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon15,
.vector-icon34 {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34 {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
  cursor: pointer;
}
.cardpio-item,
.header5 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.header5 {
  top: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  height: 156px;
  font-size: var(--font-size-21xl);
}
.cardpio-item {
  top: 498px;
  background-color: var(--color-white);
  height: 112px;
}
.fastgrill-idp2,
.sgan-609-mdulo1 {
  position: absolute;
  top: 263px;
  left: 266px;
  display: inline-block;
  text-align: left;
  width: 769.33px;
}
.sgan-609-mdulo1 {
  top: 311px;
  width: 901px;
}
.pedidos-na-sua-container {
  top: 530px;
  left: 192px;
  color: var(--color-black);
  width: 494px;
}
.aberto-at-as1,
.pedidos-na-sua-container,
.tempo-mdio-de-container {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.tempo-mdio-de-container {
  top: 530px;
  left: 816px;
  color: var(--color-black);
  width: 593px;
}
.aberto-at-as1 {
  top: 356px;
  left: 292px;
  font-size: var(--font-size-5xl);
  width: 901px;
}
.cardpio-child1 {
  position: absolute;
  top: 365px;
  left: 266px;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 18px;
  height: 18px;
}
.categorias {
  position: relative;
}
.categorias,
.categorias-parent,
.sucos-tapioca {
  width: 1724px;
  display: flex;
  align-items: center;
}
.sucos-tapioca {
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  height: 51px;
  flex-shrink: 0;
}
.categorias-parent {
  position: absolute;
  top: 660px;
  left: 107px;
  height: 103px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.frame-inner,
.image-11-icon {
  position: absolute;
  border-radius: 17.88px;
}
.frame-inner {
  top: 62px;
  left: 2px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon {
  top: 87.93px;
  left: 379.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango {
  position: absolute;
  top: 87.93px;
  left: 18.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no,
.pratos-executivos {
  position: absolute;
  text-align: left;
}
.pratos-executivos {
  top: 0;
  left: 2px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.esse-t-no {
  top: 128.17px;
  left: 18.1px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho,
.frame-child1 {
  position: absolute;
  top: 262.3px;
  left: 18.1px;
  width: 317.44px;
  height: 50.97px;
}
.frame-child1 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.span {
  color: var(--color-gray-100);
}
.r-19901 {
  color: var(--color-darkslategray-100);
}
.a-partir-de-container1 {
  line-break: anywhere;
  width: 100%;
}
.a-partir-de-container {
  position: absolute;
  top: 270.35px;
  left: 379.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.image-12-icon {
  position: absolute;
  top: 25.93px;
  left: 377.35px;
  border-radius: 17.88px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango1 {
  top: 25.93px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no1,
.frame-child2,
.peito-de-frango1 {
  position: absolute;
  left: 16.1px;
}
.esse-t-no1 {
  top: 66.17px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.frame-child2 {
  top: 200.3px;
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
  width: 317.44px;
  height: 50.97px;
}
.a-partir-de-container2,
.adicionar-ao-carrinho1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.adicionar-ao-carrinho1 {
  top: 200.3px;
  left: 16.1px;
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  justify-content: center;
  width: 317.44px;
  height: 50.97px;
}
.a-partir-de-container2 {
  top: 208.35px;
  left: 377.35px;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.image-12-parent {
  top: 62px;
  left: 583.23px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.frame-child3,
.image-11-icon1,
.image-12-parent {
  position: absolute;
  border-radius: 17.88px;
}
.frame-child3 {
  top: 343px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon1 {
  top: 368.93px;
  left: 377.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango2 {
  position: absolute;
  top: 368.93px;
  left: 16.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no2 {
  position: absolute;
  top: 409.17px;
  left: 16.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho2,
.frame-child4 {
  position: absolute;
  top: 543.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.frame-child4 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho2 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container4 {
  top: 551.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.a-partir-de-container4,
.a-partir-de-container6,
.image-12-icon1 {
  position: absolute;
  left: 377.35px;
  width: 174.37px;
}
.image-12-icon1 {
  top: 23.93px;
  border-radius: 17.88px;
  height: 174.37px;
  object-fit: cover;
}
.a-partir-de-container6 {
  top: 206.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.image-12-container,
.image-12-group {
  position: absolute;
  top: 343px;
  left: 581.23px;
  border-radius: 17.88px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-12-container {
  top: 62px;
  left: 1164.46px;
}
.frame-div,
.rectangle-parent19 {
  position: absolute;
  top: 1227px;
  left: 105px;
  width: 1726.01px;
  height: 605px;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.rectangle-parent19 {
  top: 3177px;
}
.image-12-parent6 {
  top: 343px;
  left: 1162px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.frame-child21,
.image-12-icon9,
.image-12-parent6 {
  position: absolute;
  border-radius: 17.88px;
}
.frame-child21 {
  top: 624px;
  left: 2px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-12-icon9 {
  top: 649.93px;
  left: 379.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango15 {
  position: absolute;
  top: 649.93px;
  left: 18.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no15 {
  position: absolute;
  top: 690.17px;
  left: 18.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho15,
.frame-child22 {
  position: absolute;
  top: 824.3px;
  left: 18.1px;
  width: 317.44px;
  height: 50.97px;
}
.frame-child22 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho15 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container30 {
  position: absolute;
  top: 832.35px;
  left: 379.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.image-12-parent7 {
  position: absolute;
  top: 624px;
  left: 583.23px;
  border-radius: 17.88px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.a-partir-de-container36,
.image-13-icon {
  position: absolute;
  left: 375px;
  width: 174.37px;
}
.image-13-icon {
  top: 34px;
  border-radius: 17.88px;
  height: 174.37px;
  object-fit: cover;
}
.a-partir-de-container36 {
  top: 216.42px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.peito-de-frango-parent {
  position: absolute;
  top: 624px;
  left: 1164px;
  border-radius: 17.88px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.rectangle-parent20 {
  position: absolute;
  top: 1877px;
  left: 107px;
  width: 1726.01px;
  height: 886px;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.frame-child26,
.image-11-icon6 {
  position: absolute;
  border-radius: 17.88px;
}
.frame-child26 {
  top: 62px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon6 {
  top: 87.93px;
  left: 377.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango19 {
  position: absolute;
  top: 87.93px;
  left: 16.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no19,
.tapioca-doce {
  position: absolute;
  text-align: left;
}
.tapioca-doce {
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.esse-t-no19 {
  top: 128.17px;
  left: 16.1px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho19,
.frame-child27 {
  position: absolute;
  top: 262.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.frame-child27 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho19 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container38 {
  position: absolute;
  top: 270.35px;
  left: 377.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.image-12-parent9 {
  position: absolute;
  top: 62px;
  left: 581.23px;
  border-radius: 17.88px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.rectangle-parent21 {
  position: absolute;
  top: 2808px;
  left: 111px;
  width: 1142.78px;
  height: 324px;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 1.46%;
  width: 3.33%;
  top: 12.33%;
  right: 91.09%;
  bottom: 86.21%;
  left: 5.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon36 {
  height: 1.37%;
  width: 3.02%;
  top: 12.38%;
  right: 58.59%;
  bottom: 86.25%;
  left: 38.39%;
}
.group-icon3,
.solarstar-bold-duotone6 {
  position: absolute;
  top: 249px;
  left: 1724.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-icon3 {
  height: 10.43%;
  width: 2.23%;
  top: 0.53%;
  right: 74.14%;
  bottom: 89.04%;
  left: 23.63%;
  max-width: 100%;
  max-height: 100%;
}
.os-pratos-que {
  position: absolute;
  top: 48px;
  left: 0;
  display: flex;
  align-items: center;
  width: 1724px;
  height: 51px;
}
.esse-t-no21 {
  position: absolute;
  top: 66.17px;
  left: 16.1px;
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho21,
.frame-child29 {
  position: absolute;
  top: 200.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.frame-child29 {
  border-radius: 44.71px;
  background-color: var(--color-white);
}
.adicionar-ao-carrinho21 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-darkorange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-199022 {
  color: var(--color-white);
}
.a-partir-de-container42 {
  position: absolute;
  top: 208.35px;
  left: 377.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-whitesmoke-200);
}
.image-11-parent,
.image-12-parent10,
.image-12-parent11 {
  position: absolute;
  top: 112px;
  left: 2px;
  border-radius: 17.88px;
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-12-parent10,
.image-12-parent11 {
  left: 583.23px;
}
.image-12-parent11 {
  left: 1164.46px;
}
.recomendaes-dirias-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1726.01px;
  height: 374px;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-white);
}
.solarstar-bold-duotone-parent {
  position: absolute;
  top: 808px;
  left: 109px;
  width: 1748.01px;
  height: 374px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.cardpio5 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 4241px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
