.fluentbox-24-filled7 {
  position: absolute;
  top: 660px;
  left: 44px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.footer7,
.group-child36 {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  height: 369.33px;
}
.group-child36 {
  top: 304px;
  left: 105px;
  background-color: var(--color-gainsboro);
  width: 117px;
  height: 113px;
}
.image-14-icon,
.image-14-parent {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 342px;
}
.image-14-icon {
  top: 261px;
  object-fit: cover;
}
.image-14-parent {
  top: 156px;
}
.vecteezy-restaurant-logo-food-icon16 {
  position: absolute;
  top: -156px;
  left: 107px;
  border-radius: var(--br-xl);
  width: 132px;
  height: 132px;
  object-fit: cover;
}
.header-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  width: 1920px;
  height: 156px;
}
.cardpio7,
.home7 {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
}
.cardpio7 {
  left: 1089.33px;
  width: 213.33px;
}
.header-child10,
.rea-do-cliente6 {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-child10 {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente6 {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon17,
.vector-icon37 {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon37 {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
}
.group-child37,
.header6 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.header6 {
  top: 0;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.group-child37 {
  top: 498px;
  background-color: var(--color-white);
  height: 112px;
}
.fastgrill-idp3,
.sgan-609-mdulo2 {
  position: absolute;
  top: 263px;
  left: 266px;
  display: inline-block;
  width: 769.33px;
}
.sgan-609-mdulo2 {
  top: 311px;
  width: 901px;
}
.pedidos-na-sua-container1,
.tempo-mdio-de-container1 {
  position: absolute;
  top: 530px;
  left: 192px;
  color: var(--color-black);
  display: inline-block;
  width: 494px;
}
.tempo-mdio-de-container1 {
  left: 816px;
  width: 593px;
}
.aberto-at-as2 {
  position: absolute;
  top: 356px;
  left: 292px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 901px;
}
.group-child38 {
  position: absolute;
  top: 365px;
  left: 266px;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 18px;
  height: 18px;
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange);
  width: 289px;
  height: 61px;
}
.ver-outras-unidades1 {
  position: absolute;
  top: 15px;
  left: 63px;
  display: inline-block;
  width: 211px;
}
.rectangle-parent23,
.vector-icon38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 289px;
  height: 61px;
}
.vector-icon38 {
  height: 53.02%;
  width: 12.8%;
  top: 26.49%;
  right: 81.66%;
  bottom: 20.5%;
  left: 5.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent3 {
  position: absolute;
  top: 295px;
  left: 1594px;
  width: 289px;
  height: 61px;
  font-size: var(--font-size-xl);
}
.categorias1,
.sucos-tapioca1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1724px;
}
.sucos-tapioca1 {
  top: 52px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  height: 51px;
}
.group-frame,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1724px;
  height: 103px;
}
.group-wrapper {
  top: 660px;
  left: 107px;
  color: var(--color-darkslategray-200);
}
.group-child40,
.image-11-icon8 {
  position: absolute;
  border-radius: 17.88px;
}
.group-child40 {
  top: 62px;
  left: 2px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon8 {
  top: 87.93px;
  left: 379.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango24 {
  position: absolute;
  top: 87.93px;
  left: 18.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.pratos-executivos1 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.esse-t-no24 {
  position: absolute;
  top: 128.17px;
  left: 18.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho24,
.group-child41 {
  position: absolute;
  top: 262.3px;
  left: 18.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child41 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho24 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.span24 {
  color: var(--color-gray-100);
}
.r-199025 {
  color: var(--color-darkslategray-100);
}
.a-partir-de-container49 {
  line-break: anywhere;
  width: 100%;
}
.a-partir-de-container48 {
  position: absolute;
  top: 270.35px;
  left: 379.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.group-child42,
.image-12-icon15 {
  position: absolute;
  border-radius: 17.88px;
}
.group-child42 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-12-icon15 {
  top: 25.93px;
  left: 377.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango25 {
  position: absolute;
  top: 25.93px;
  left: 16.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no25 {
  position: absolute;
  top: 66.17px;
  left: 16.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho25,
.group-child43 {
  position: absolute;
  top: 200.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child43 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho25 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container50 {
  position: absolute;
  top: 208.35px;
  left: 377.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.rectangle-parent25 {
  position: absolute;
  top: 62px;
  left: 583.23px;
  width: 561.56px;
  height: 262px;
}
.group-child44,
.image-11-icon9 {
  position: absolute;
  border-radius: 17.88px;
}
.group-child44 {
  top: 343px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon9 {
  top: 1178.93px;
  left: 482.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango26 {
  position: absolute;
  top: 368.93px;
  left: 16.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no26 {
  position: absolute;
  top: 409.17px;
  left: 16.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho26,
.group-child45 {
  position: absolute;
  top: 543.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child45 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho26 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container52 {
  top: 551.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.a-partir-de-container52,
.a-partir-de-container54,
.image-12-icon16 {
  position: absolute;
  left: 377.35px;
  width: 174.37px;
}
.image-12-icon16 {
  top: 23.93px;
  border-radius: 17.88px;
  height: 174.37px;
  object-fit: cover;
}
.a-partir-de-container54 {
  top: 206.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.rectangle-parent26,
.rectangle-parent27 {
  position: absolute;
  top: 343px;
  left: 581.23px;
  width: 561.56px;
  height: 262px;
}
.rectangle-parent27 {
  top: 62px;
  left: 1164.46px;
}
.rectangle-parent24 {
  position: absolute;
  top: 1227px;
  left: 105px;
  width: 1726.01px;
  height: 605px;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.vector-icon39,
.vector-icon40 {
  position: absolute;
  height: 1.43%;
  width: 3.33%;
  top: 12.27%;
  right: 91.09%;
  bottom: 86.3%;
  left: 5.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40 {
  height: 1.34%;
  width: 3.02%;
  top: 12.32%;
  right: 58.59%;
  bottom: 86.34%;
  left: 38.39%;
}
.group-icon4,
.solarstar-bold-duotone7 {
  position: absolute;
  top: 254.85px;
  left: 1724.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-icon4 {
  height: 10.06%;
  width: 2.23%;
  top: 0;
  right: 74.14%;
  bottom: 89.94%;
  left: 23.63%;
  max-width: 100%;
  max-height: 100%;
}
.os-pratos-que1 {
  position: absolute;
  top: 53.85px;
  left: 0;
  display: flex;
  align-items: center;
  width: 1724px;
  height: 51px;
}
.recomendaes-dirias1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17.88px;
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.esse-t-no29 {
  position: absolute;
  top: 66.17px;
  left: 16.1px;
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho29,
.group-child51 {
  position: absolute;
  top: 200.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child51 {
  border-radius: 44.71px;
  background-color: var(--color-white);
}
.adicionar-ao-carrinho29 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-darkorange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-199030 {
  color: var(--color-white);
}
.a-partir-de-container58 {
  position: absolute;
  top: 208.35px;
  left: 377.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-whitesmoke-200);
}
.rectangle-parent28,
.rectangle-parent29,
.rectangle-parent30 {
  position: absolute;
  top: 112px;
  left: 2px;
  width: 561.56px;
  height: 262px;
}
.rectangle-parent29,
.rectangle-parent30 {
  left: 583.23px;
}
.rectangle-parent30 {
  left: 1164.46px;
}
.recomendaes-dirias-group {
  position: absolute;
  top: 5.85px;
  left: 0;
  width: 1726.01px;
  height: 374px;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-white);
}
.solarstar-bold-duotone-group {
  position: absolute;
  top: 802.15px;
  left: 109px;
  width: 1748.01px;
  height: 379.85px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.group-child56 {
  position: absolute;
  top: 417px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.57);
  width: 1920px;
  height: 1080px;
}
.fluentbox-24-filled-parent,
.group-child57 {
  position: absolute;
  top: -417px;
  left: 0;
  width: 1920px;
  height: 4244.67px;
}
.group-child57 {
  top: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 1068px;
  height: 851px;
}
.group-child58,
.group-child59 {
  position: absolute;
  background-color: var(--color-white);
}
.group-child58 {
  top: 0;
  left: 666px;
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 402px;
  height: 851px;
}
.group-child59 {
  top: 729px;
  left: 0;
  border-radius: 0 0 0 var(--br-21xl);
  width: 666px;
  height: 122px;
}
.image-14-icon1,
.peito-de-frango32 {
  position: absolute;
  left: 694px;
  width: 341px;
}
.image-14-icon1 {
  top: 32px;
  border-radius: 17.88px;
  height: 341px;
  object-fit: cover;
}
.peito-de-frango32 {
  top: 386px;
  font-size: 33.18px;
  font-weight: 600;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.blank-line {
  margin: 0;
}
.esse-t-no-container {
  position: absolute;
  top: 443px;
  left: 694px;
  font-size: var(--font-size-base-1);
  color: var(--color-gray-100);
  display: inline-block;
  width: 341px;
}
.adicione-um-acompanhamento {
  font-weight: 600;
}
.obrigatrio {
  color: var(--color-dimgray-300);
}
.adicione-um-acompanhamento-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.feijo-preto-arroz {
  position: absolute;
  top: 25px;
  left: 36px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.ellipse-formcontrollabel,
.group-child60 {
  position: absolute;
  top: 6px;
  left: 0;
}
.group-child60 {
  top: 11px;
  left: 5px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
  width: 14px;
  height: 14px;
}
.feijo-preto-parent {
  position: absolute;
  top: 48px;
  left: 0;
  width: 297px;
  height: 49px;
}
.feijo-tropeiro {
  position: absolute;
  top: 0;
  left: 36px;
  font-weight: 600;
}
.feijo-tropeiro-parent {
  position: absolute;
  top: 112px;
  left: 0;
  width: 317px;
  height: 49px;
}
.adicione-um-acompanhamento-ob-parent {
  position: absolute;
  top: 40px;
  left: 34px;
  width: 553px;
  height: 161px;
}
.mal-passado-parent {
  position: absolute;
  top: 48px;
  left: 0;
  width: 323px;
  height: 49px;
}
.ao-ponto-parent,
.bem-passado-parent {
  position: absolute;
  top: 112px;
  left: 0;
  width: 335px;
  height: 49px;
}
.bem-passado-parent {
  top: 173px;
  width: 308px;
}
.escolha-o-ponto-da-protena-o-parent {
  position: absolute;
  top: 222px;
  left: 34px;
  width: 503px;
  height: 222px;
}
.deseja-adicionar-acompanhament-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  text-align: left;
  color: var(--color-black);
}
.div28,
.poro-de-mandioca,
.r {
  position: absolute;
  top: 0;
  color: var(--color-darkslategray-300);
}
.poro-de-mandioca {
  left: 113px;
  font-weight: 600;
  text-align: left;
}
.div28,
.r {
  left: 39px;
}
.r {
  left: 514px;
  color: var(--color-black);
  text-align: right;
}
.group-child66 {
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div29,
.group-child66,
.group-child67 {
  top: 3px;
  width: 24px;
  height: 24px;
}
.div29 {
  position: absolute;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child67 {
  left: 68px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div30,
.div31,
.group-child67 {
  position: absolute;
}
.div30 {
  top: 3px;
  left: 68px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.div31 {
  top: 251px;
  left: 46.21px;
  font-size: var(--font-size-4xl-7);
  color: var(--color-darkslategray-300);
}
.group-child68 {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div32,
.div33,
.group-child68,
.group-child69 {
  position: absolute;
  top: 254.55px;
  width: 28.43px;
  height: 28.43px;
}
.div32 {
  left: 0;
  font-size: var(--font-size-4xl-7);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div33,
.group-child69 {
  left: 80.57px;
}
.group-child69 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div33 {
  font-size: var(--font-size-4xl-7);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-wrapper1,
.poro-de-mandioca-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 603px;
  height: 287px;
}
.group-wrapper1 {
  top: 51px;
  color: var(--color-white);
}
.poro-de-ovo {
  position: absolute;
  top: 0;
  left: 113px;
  font-weight: 600;
  text-align: left;
}
.div34,
.div35,
.div36 {
  position: absolute;
  top: 0;
  left: 39px;
}
.div35,
.div36 {
  top: 3px;
  left: 0;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.div36 {
  left: 68px;
}
.group-wrapper2,
.group-wrapper3,
.poro-de-ovo-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 603px;
  height: 30px;
}
.group-wrapper2,
.group-wrapper3 {
  top: 103px;
}
.group-wrapper3 {
  top: 155px;
}
.div40,
.group-wrapper4 {
  position: absolute;
  top: 0;
  left: 42px;
}
.group-wrapper4 {
  top: 207px;
  left: 0;
  width: 603px;
  height: 30px;
}
.deseja-adicionar-acompanhament-parent {
  position: absolute;
  top: 465px;
  left: 34px;
  width: 603px;
  height: 338px;
  text-align: center;
}
.adicionar-r,
.group-child76 {
  position: absolute;
  top: 749px;
  left: 238px;
  width: 399px;
  height: 64px;
}
.group-child76 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-r {
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent31 {
  position: absolute;
  top: 143px;
  left: 433px;
  width: 1068px;
  height: 851px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-300);
}
.modal {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
