.fluentbox-24-filled6 {
  position: absolute;
  top: 660px;
  left: 44px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.footer6,
.group-child36 {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  height: 369.33px;
}
.group-child36 {
  top: 304px;
  left: 105px;
  background-color: var(--color-gainsboro);
  width: 117px;
  height: 113px;
}
.image-14-icon,
.image-14-parent {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 342px;
}
.image-14-icon {
  top: 261px;
  object-fit: cover;
}
.image-14-parent {
  top: 156px;
}
.vecteezy-restaurant-logo-food-icon13 {
  position: absolute;
  top: -156px;
  left: 107px;
  border-radius: var(--br-xl);
  width: 132px;
  height: 132px;
  object-fit: cover;
}
.header-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  width: 1920px;
  height: 156px;
}
.cardpio5,
.home6 {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
}
.cardpio5 {
  left: 1089.33px;
  width: 213.33px;
}
.header-child9,
.rea-do-cliente5 {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-child9 {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente5 {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon14,
.vector-icon18 {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
}
.group-child37,
.header5 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.header5 {
  top: 0;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.group-child37 {
  top: 498px;
  background-color: var(--color-white);
  height: 112px;
}
.fastgrill-idp2,
.sgan-609-mdulo1 {
  position: absolute;
  top: 263px;
  left: 266px;
  display: inline-block;
  width: 769.33px;
}
.sgan-609-mdulo1 {
  top: 311px;
  width: 901px;
}
.pedidos-na-sua-container,
.tempo-mdio-de-container {
  position: absolute;
  top: 530px;
  left: 192px;
  color: var(--color-black);
  display: inline-block;
  width: 494px;
}
.tempo-mdio-de-container {
  left: 816px;
  width: 593px;
}
.aberto-at-as1 {
  position: absolute;
  top: 356px;
  left: 292px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 901px;
}
.group-child38 {
  position: absolute;
  top: 365px;
  left: 266px;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 18px;
  height: 18px;
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange);
  width: 289px;
  height: 61px;
}
.ver-outras-unidades {
  position: absolute;
  top: 15px;
  left: 63px;
  display: inline-block;
  width: 211px;
}
.rectangle-parent20,
.vector-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 289px;
  height: 61px;
}
.vector-icon19 {
  height: 53.02%;
  width: 12.8%;
  top: 26.49%;
  right: 81.66%;
  bottom: 20.5%;
  left: 5.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent2 {
  position: absolute;
  top: 295px;
  left: 1594px;
  width: 289px;
  height: 61px;
  font-size: var(--font-size-xl);
}
.categorias,
.sucos-tapioca {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1724px;
}
.sucos-tapioca {
  top: 52px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  height: 51px;
}
.categorias-parent,
.group-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 1724px;
  height: 103px;
}
.group-frame {
  top: 660px;
  left: 107px;
  color: var(--color-darkslategray-200);
}
.group-child40,
.image-11-icon {
  position: absolute;
  border-radius: 17.88px;
}
.group-child40 {
  top: 62px;
  left: 2px;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon {
  top: 87.93px;
  left: 379.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango {
  position: absolute;
  top: 87.93px;
  left: 18.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no,
.pratos-executivos {
  position: absolute;
  text-align: left;
}
.pratos-executivos {
  top: 0;
  left: 2px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.esse-t-no {
  top: 128.17px;
  left: 18.1px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho,
.group-child41 {
  position: absolute;
  top: 262.3px;
  left: 18.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child41 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.span {
  color: var(--color-gray-100);
}
.r-19901 {
  color: var(--color-darkslategray-100);
}
.a-partir-de-container1 {
  line-break: anywhere;
  width: 100%;
}
.a-partir-de-container {
  position: absolute;
  top: 270.35px;
  left: 379.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.group-child42,
.image-12-icon {
  position: absolute;
  border-radius: 17.88px;
}
.group-child42 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-12-icon {
  top: 25.93px;
  left: 377.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango1 {
  top: 25.93px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no1,
.group-child43,
.peito-de-frango1 {
  position: absolute;
  left: 16.1px;
}
.esse-t-no1 {
  top: 66.17px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.group-child43 {
  top: 200.3px;
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
  width: 317.44px;
  height: 50.97px;
}
.a-partir-de-container2,
.adicionar-ao-carrinho1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.adicionar-ao-carrinho1 {
  top: 200.3px;
  left: 16.1px;
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  justify-content: center;
  width: 317.44px;
  height: 50.97px;
}
.a-partir-de-container2 {
  top: 208.35px;
  left: 377.35px;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.rectangle-parent22 {
  position: absolute;
  top: 62px;
  left: 583.23px;
  width: 561.56px;
  height: 262px;
}
.group-child44,
.image-11-icon1 {
  position: absolute;
  border-radius: 17.88px;
}
.group-child44 {
  top: 343px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.image-11-icon1 {
  top: 1178.93px;
  left: 482.35px;
  width: 174.37px;
  height: 174.37px;
  object-fit: cover;
}
.peito-de-frango2 {
  position: absolute;
  top: 368.93px;
  left: 16.1px;
  font-size: 25.04px;
  font-weight: 600;
}
.esse-t-no2 {
  position: absolute;
  top: 409.17px;
  left: 16.1px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho2,
.group-child45 {
  position: absolute;
  top: 543.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child45 {
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-ao-carrinho2 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-partir-de-container4 {
  top: 551.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.a-partir-de-container4,
.a-partir-de-container6,
.image-12-icon1 {
  position: absolute;
  left: 377.35px;
  width: 174.37px;
}
.image-12-icon1 {
  top: 23.93px;
  border-radius: 17.88px;
  height: 174.37px;
  object-fit: cover;
}
.a-partir-de-container6 {
  top: 206.35px;
  display: flex;
  align-items: center;
  height: 34.87px;
  color: var(--color-dimgray-100);
}
.rectangle-parent23,
.rectangle-parent24 {
  position: absolute;
  top: 343px;
  left: 581.23px;
  width: 561.56px;
  height: 262px;
}
.rectangle-parent24 {
  top: 62px;
  left: 1164.46px;
}
.rectangle-parent21 {
  position: absolute;
  top: 1227px;
  left: 105px;
  width: 1726.01px;
  height: 605px;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 1.43%;
  width: 3.33%;
  top: 12.27%;
  right: 91.09%;
  bottom: 86.3%;
  left: 5.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  height: 1.34%;
  width: 3.02%;
  top: 12.32%;
  right: 58.59%;
  bottom: 86.34%;
  left: 38.39%;
}
.group-icon3,
.solarstar-bold-duotone6 {
  position: absolute;
  top: 254.85px;
  left: 1724.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-icon3 {
  height: 10.06%;
  width: 2.23%;
  top: 0;
  right: 74.14%;
  bottom: 89.94%;
  left: 23.63%;
  max-width: 100%;
  max-height: 100%;
}
.os-pratos-que {
  position: absolute;
  top: 53.85px;
  left: 0;
  display: flex;
  align-items: center;
  width: 1724px;
  height: 51px;
}
.recomendaes-dirias {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17.88px;
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 561.56px;
  height: 262px;
}
.esse-t-no5 {
  position: absolute;
  top: 66.17px;
  left: 16.1px;
  text-align: left;
  display: inline-block;
  width: 330.85px;
}
.adicionar-ao-carrinho5,
.group-child51 {
  position: absolute;
  top: 200.3px;
  left: 16.1px;
  width: 317.44px;
  height: 50.97px;
}
.group-child51 {
  border-radius: 44.71px;
  background-color: var(--color-white);
}
.adicionar-ao-carrinho5 {
  font-size: 13.41px;
  font-weight: 600;
  color: var(--color-darkorange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-19906 {
  color: var(--color-white);
}
.a-partir-de-container10 {
  position: absolute;
  top: 208.35px;
  left: 377.35px;
  display: flex;
  align-items: center;
  width: 174.37px;
  height: 34.87px;
  color: var(--color-whitesmoke-200);
}
.rectangle-parent25,
.rectangle-parent26,
.rectangle-parent27 {
  position: absolute;
  top: 112px;
  left: 2px;
  width: 561.56px;
  height: 262px;
}
.rectangle-parent26,
.rectangle-parent27 {
  left: 583.23px;
}
.rectangle-parent27 {
  left: 1164.46px;
}
.recomendaes-dirias-parent {
  position: absolute;
  top: 5.85px;
  left: 0;
  width: 1726.01px;
  height: 374px;
  text-align: center;
  font-size: var(--font-size-base-1);
  color: var(--color-white);
}
.solarstar-bold-duotone-parent {
  position: absolute;
  top: 802.15px;
  left: 109px;
  width: 1748.01px;
  height: 379.85px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.group-child56 {
  position: absolute;
  top: 417px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.57);
  width: 1920px;
  height: 1080px;
}
.fluentbox-24-filled-parent,
.group-child57 {
  position: absolute;
  top: -417px;
  left: 0;
  width: 1920px;
  height: 4244.67px;
}
.group-child57 {
  top: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 1068px;
  height: 851px;
}
.group-child58,
.group-child59 {
  position: absolute;
  background-color: var(--color-white);
}
.group-child58 {
  top: 0;
  left: 666px;
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 402px;
  height: 851px;
}
.group-child59 {
  top: 729px;
  left: 0;
  border-radius: 0 0 0 var(--br-21xl);
  width: 666px;
  height: 122px;
}
.image-14-icon1,
.peito-de-frango8 {
  position: absolute;
  left: 694px;
  width: 341px;
}
.image-14-icon1 {
  top: 32px;
  border-radius: 17.88px;
  height: 341px;
  object-fit: cover;
}
.peito-de-frango8 {
  top: 386px;
  font-size: 33.18px;
  font-weight: 600;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.blank-line {
  margin: 0;
}
.esse-t-no-container {
  position: absolute;
  top: 443px;
  left: 694px;
  font-size: var(--font-size-base-1);
  color: var(--color-gray-100);
  display: inline-block;
  width: 341px;
}
.adicione-um-acompanhamento {
  font-weight: 600;
}
.obrigatrio {
  color: var(--color-dimgray-300);
}
.adicione-um-acompanhamento-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 590px;
  color: var(--color-black);
}
.feijo-preto-arroz,
.feijo-preto1 {
  position: absolute;
  left: 36px;
  display: flex;
  align-items: center;
}
.feijo-preto1 {
  top: 0;
  font-weight: 600;
  width: 133px;
}
.feijo-preto-arroz {
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 292px;
}
.feijo-preto-parent,
.group-child60 {
  position: absolute;
  top: 6px;
  left: 0;
}
.feijo-preto-parent {
  top: 48px;
  width: 328px;
  height: 49px;
}
.feijo-tropeiro,
.feijo-tropeiro-arroz {
  position: absolute;
  left: 36px;
  display: flex;
  align-items: center;
}
.feijo-tropeiro {
  top: 0;
  font-weight: 600;
  width: 167px;
}
.feijo-tropeiro-arroz {
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 313px;
}
.feijo-tropeiro-parent {
  position: absolute;
  top: 112px;
  left: 0;
  width: 349px;
  height: 49px;
}
.adicione-um-acompanhamento-ob-parent {
  position: absolute;
  top: 40px;
  left: 34px;
  width: 590px;
  height: 161px;
}
.escolha-o-ponto-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 537px;
  color: var(--color-black);
}
.mal-passado,
.selado-por-fora {
  position: absolute;
  left: 36px;
  display: flex;
  align-items: center;
}
.mal-passado {
  top: 0;
  font-weight: 600;
  width: 149px;
}
.selado-por-fora {
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 326px;
}
.mal-passado-parent {
  position: absolute;
  top: 48px;
  left: 0;
  width: 362px;
  height: 49px;
}
.ao-ponto1,
.selado-por-fora1 {
  position: absolute;
  left: 36px;
  display: flex;
  align-items: center;
}
.ao-ponto1 {
  top: 0;
  font-weight: 600;
  width: 113px;
}
.selado-por-fora1 {
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 368px;
}
.ao-ponto-parent {
  position: absolute;
  top: 112px;
  left: 0;
  width: 404px;
  height: 49px;
}
.bem-passado,
.selado-por-fora2 {
  position: absolute;
  left: 36px;
  display: flex;
  align-items: center;
}
.bem-passado {
  top: 0;
  font-weight: 600;
  width: 173px;
}
.selado-por-fora2 {
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 336px;
}
.bem-passado-parent {
  position: absolute;
  top: 173px;
  left: 0;
  width: 372px;
  height: 49px;
}
.escolha-o-ponto-da-protena-o-parent {
  position: absolute;
  top: 222px;
  left: 34px;
  width: 537px;
  height: 222px;
}
.deseja-adicionar-acompanhament-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 622px;
  color: var(--color-black);
}
.div28,
.poro-de-mandioca,
.r {
  position: absolute;
  top: 0;
  color: var(--color-darkslategray-300);
}
.poro-de-mandioca {
  left: 113px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 271px;
}
.div28,
.r {
  left: 39px;
}
.r {
  left: 460px;
  color: var(--color-black);
  text-align: right;
  display: flex;
  align-items: center;
  width: 143px;
}
.group-child65 {
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div29,
.group-child65,
.group-child66 {
  top: 3px;
  width: 24px;
  height: 24px;
}
.div29 {
  position: absolute;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child66 {
  left: 68px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div30,
.div31,
.group-child66 {
  position: absolute;
}
.div30 {
  top: 3px;
  left: 68px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.div31 {
  top: 251px;
  left: 46.21px;
  font-size: var(--font-size-4xl-7);
  color: var(--color-darkslategray-300);
}
.group-child67 {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div32,
.div33,
.group-child67,
.group-child68 {
  position: absolute;
  top: 254.55px;
  width: 28.43px;
  height: 28.43px;
}
.div32 {
  left: 0;
  font-size: var(--font-size-4xl-7);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div33,
.group-child68 {
  left: 80.57px;
}
.group-child68 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-500);
}
.div33 {
  font-size: var(--font-size-4xl-7);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-wrapper2,
.poro-de-mandioca-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 603px;
  height: 287px;
}
.group-wrapper2 {
  top: 51px;
  color: var(--color-white);
}
.poro-de-ovo {
  position: absolute;
  top: 0;
  left: 113px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 191px;
}
.div34,
.div35,
.div36 {
  position: absolute;
  top: 0;
  left: 39px;
}
.div35,
.div36 {
  top: 3px;
  left: 0;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.div36 {
  left: 68px;
}
.group-wrapper3,
.poro-de-ovo-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 603px;
  height: 30px;
}
.group-wrapper3 {
  top: 103px;
}
.poro-de-arroz {
  position: absolute;
  top: 0;
  left: 113px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 206px;
}
.group-wrapper4 {
  position: absolute;
  top: 155px;
  left: 0;
  width: 603px;
  height: 30px;
}
.poro-de-salada {
  position: absolute;
  top: 0;
  left: 113px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 231px;
}
.div40,
.group-wrapper5 {
  position: absolute;
  top: 0;
  left: 42px;
}
.group-wrapper5 {
  top: 207px;
  left: 0;
  width: 603px;
  height: 30px;
}
.deseja-adicionar-acompanhament-parent {
  position: absolute;
  top: 465px;
  left: 34px;
  width: 622px;
  height: 338px;
  text-align: center;
}
.group-child75 {
  top: 0;
  left: 0;
  border-radius: 44.71px;
  background-color: var(--color-darkorange);
}
.adicionar-r,
.group-child75,
.rectangle-parent29 {
  position: absolute;
  width: 399px;
  height: 64px;
}
.adicionar-r {
  top: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent29 {
  top: 749px;
  left: 238px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.rectangle-parent28 {
  position: absolute;
  top: 143px;
  left: 433px;
  width: 1068px;
  height: 851px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-300);
}
.modal {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
