.galaremove3 {
  position: absolute;
  top: 1024px;
  left: 0;
  width: 256px;
  height: 256px;
  overflow: hidden;
}
.fluentbox-24-filled4,
.heroiconspencil-solid3,
.material-symbolsstore3,
.mdicalendar3 {
  position: absolute;
  top: 168px;
  left: 48px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.fluentbox-24-filled4,
.material-symbolsstore3,
.mdicalendar3 {
  left: 24px;
}
.fluentbox-24-filled4,
.mdicalendar3 {
  left: 0;
}
.fluentbox-24-filled4 {
  top: 660px;
  left: 44px;
}
.footer4,
.group-child24 {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  height: 369.33px;
}
.group-child24 {
  top: 0;
  background-color: var(--color-darkorange);
}
.vecteezy-restaurant-logo-food-icon8 {
  position: absolute;
  height: 46.57%;
  width: 6.81%;
  top: 14.44%;
  right: 46.6%;
  bottom: 38.99%;
  left: 46.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fast-grill-4,
.todos-os-direitos4 {
  position: absolute;
  top: 242.67px;
  left: 789.33px;
}
.todos-os-direitos4 {
  top: 306.67px;
  font-size: 18.67px;
}
.rectangle-parent14 {
  position: absolute;
  top: 1654px;
  left: 0;
  width: 1920px;
  height: 369.33px;
  text-align: center;
  font-size: 42.67px;
}
.heroiconspencil-solid4 {
  position: absolute;
  top: 66px;
  left: 948px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.header-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  width: 1920px;
  height: 156px;
}
.cardpio4,
.home5 {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
  cursor: pointer;
}
.cardpio4 {
  left: 1089.33px;
  width: 213.33px;
}
.header-child7,
.rea-do-cliente4 {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-child7 {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente4 {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon9,
.vector-icon10 {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
}
.header4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.pagamento-conferir-child {
  position: absolute;
  top: 287px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.solarstar-bold-duotone4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.solarstar-bold-duotone-wrapper2 {
  position: absolute;
  top: 1057px;
  left: 1833.01px;
  width: 24px;
  height: 24px;
  display: none;
}
.seus-dados3 {
  position: absolute;
  top: 211px;
  left: 108px;
  color: var(--color-black);
}
.pagamento-conferir-item {
  position: absolute;
  top: 287px;
  left: 678px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 1080px;
  height: 1317px;
}
.confira-seu-pedido7 {
  position: absolute;
  top: 211px;
  left: 679px;
  color: var(--color-black);
}
.detalhes-do-pedido,
.observaes-sobre-o,
.retirar-em-13 {
  position: absolute;
  top: 320px;
  left: 750px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.detalhes-do-pedido,
.observaes-sobre-o {
  top: 511px;
  left: 706px;
}
.observaes-sobre-o {
  top: 1041px;
  left: 761px;
  font-size: var(--font-size-5xl);
}
.identifique-se4 {
  position: absolute;
  top: 312px;
  left: 175px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
}
.div22,
.pagamento-conferir-inner {
  position: absolute;
  top: 315px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-conferir-inner {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div22 {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamento-conferir-child1 {
  position: absolute;
  top: 423px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.forma-de-pagamento8 {
  position: absolute;
  top: 443px;
  left: 175px;
}
.div23,
.pagamento-conferir-child2 {
  position: absolute;
  top: 451px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-conferir-child2 {
  border-radius: 50%;
  background-color: var(--color-white);
}
.div23 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamento-conferir-child3 {
  position: absolute;
  top: 559px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.pagamento-conferir-child4,
.pagamento-conferir-child5 {
  position: absolute;
  top: 1176px;
  left: 706px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 532px;
  height: 93px;
}
.pagamento-conferir-child5 {
  top: 425px;
  left: 1002px;
  border: 2px solid var(--color-black);
  width: 234px;
  height: 48px;
}
.confira-seu-pedido8 {
  position: absolute;
  top: 579px;
  left: 175px;
  color: var(--color-darkslategray-200);
}
.div24,
.pagamento-conferir-child6 {
  position: absolute;
  top: 587px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-conferir-child6 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div24 {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.forma-de-pagamento9 {
  position: absolute;
  top: 25px;
  left: 68px;
}
.div25,
.group-child26 {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 38px;
  height: 38px;
}
.group-child26 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div25 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child27,
.rectangle-parent15 {
  position: absolute;
  width: 518px;
  height: 93px;
}
.rectangle-parent15 {
  top: 423px;
  left: 107px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
}
.div26,
.group-child28 {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 38px;
  height: 38px;
}
.group-child28 {
  border-radius: 50%;
  background-color: var(--color-white);
}
.div26 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent16 {
  position: absolute;
  top: 559px;
  left: 107px;
  width: 518px;
  height: 93px;
  font-size: var(--font-size-9xl);
}
.pagamento-conferir-child7 {
  position: absolute;
  top: 695px;
  left: 108px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.status-do-pedido7 {
  position: absolute;
  top: 720px;
  left: 176px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
}
.pagamento-conferir-child8 {
  position: absolute;
  top: 723px;
  left: 122px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 38px;
  height: 38px;
}
.div27,
.subtotal1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div27 {
  top: 723px;
  left: 122px;
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
.subtotal1 {
  top: 876px;
  left: 28px;
  width: 177px;
}
.adicionar-mais-itens,
.digite-aqui-as,
.idp-asa,
.voc-retira-em {
  position: absolute;
  top: 0;
  left: 116px;
  font-size: var(--font-size-5xl);
}
.adicionar-mais-itens,
.digite-aqui-as,
.idp-asa {
  top: 669px;
  left: 39px;
  color: var(--color-gray-200);
}
.adicionar-mais-itens,
.idp-asa {
  top: 33px;
  left: 116px;
  color: var(--color-black);
}
.adicionar-mais-itens {
  top: 510px;
  left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 86px;
}
.descontos1,
.r-1491,
.r-49901,
.r-5241,
.taxa-de-servio1 {
  position: absolute;
  top: 876px;
  left: 933px;
  display: flex;
  align-items: center;
  width: 235px;
}
.descontos1,
.r-1491,
.r-5241,
.taxa-de-servio1 {
  top: 919px;
  left: 959px;
  width: 183px;
}
.descontos1,
.r-5241,
.taxa-de-servio1 {
  top: 962px;
  left: 949px;
  width: 199px;
}
.descontos1,
.taxa-de-servio1 {
  top: 919px;
  left: 28px;
  width: 328px;
}
.descontos1 {
  top: 962px;
  width: 228px;
}
.r-46151 {
  top: 1014px;
  left: 899px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  width: 303px;
}
.digite-um-cupom1,
.r-46151,
.total1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.total1 {
  top: 1014px;
  left: 28px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  width: 152px;
}
.digite-um-cupom1 {
  top: 762px;
  left: 93px;
  color: var(--color-darkorange);
  width: 467px;
  height: 93px;
}
.group-child29,
.rectangle-parent17 {
  position: absolute;
  width: 507px;
  height: 74px;
}
.group-child29 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 3px solid var(--color-darkslategray-400);
  box-sizing: border-box;
}
.rectangle-parent17 {
  top: 1091px;
  left: 28px;
  cursor: pointer;
  text-align: center;
  color: var(--color-darkslategray-400);
}
.pagamento-conferir-inner1,
.subtotal-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1202px;
  height: 1165px;
}
.pagamento-conferir-inner1 {
  top: 414px;
  left: 678px;
  font-size: 28.96px;
  color: var(--color-gray-400);
}
.group-child30 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-400);
}
.fechar-pedido,
.group-child30,
.rectangle-parent18 {
  position: absolute;
  width: 507px;
  height: 74px;
}
.fechar-pedido {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent18 {
  top: 1505px;
  left: 1222px;
  cursor: pointer;
  text-align: center;
  font-size: 28.96px;
}
.agendar-retirada,
.alterar-unidade {
  position: absolute;
  top: 0;
  left: 514px;
}
.alterar-unidade {
  top: 101px;
  left: 0;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 48px;
}
.agendar-retirada-parent,
.pagamento-conferir-inner2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 727px;
  height: 149px;
}
.pagamento-conferir-inner2 {
  top: 324px;
  left: 1002px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.pagamento-conferir-child10,
.pagamento-conferir-child11,
.pagamento-conferir-child13,
.pagamento-conferir-child9 {
  position: absolute;
  top: 1155px;
  left: 678px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.pagamento-conferir-child10,
.pagamento-conferir-child11,
.pagamento-conferir-child13 {
  top: 922px;
}
.pagamento-conferir-child11,
.pagamento-conferir-child13 {
  top: 1010px;
}
.pagamento-conferir-child13 {
  top: 1127px;
  left: 717px;
  background-color: var(--color-gray-200);
  width: 987px;
}
.pagamento-conferir-child14,
.pagamento-conferir-child15 {
  position: absolute;
  top: 578px;
  left: 678px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.pagamento-conferir-child15 {
  top: 387px;
  left: 679px;
}
.pagamento-conferir-child16 {
  position: absolute;
  height: 9.29%;
  width: 1.51%;
  top: 59.66%;
  right: 60.73%;
  bottom: 31.05%;
  left: 37.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pagamento-conferir-child17 {
  position: absolute;
  top: 1176px;
  left: 1250px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 479px;
  height: 93px;
}
.resgatar-fidelidade1 {
  position: absolute;
  top: 1176px;
  left: 1266px;
  font-size: 28.96px;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 463px;
  height: 93px;
}
.group-icon2,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 1.81%;
  width: 1.9%;
  top: 59.6%;
  right: 32.23%;
  bottom: 38.59%;
  left: 65.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11,
.vector-icon12 {
  height: 2.08%;
  width: 1.35%;
  top: 15.97%;
  right: 61.88%;
  bottom: 81.96%;
  left: 36.77%;
}
.vector-icon12 {
  height: 1.73%;
  width: 1.67%;
  top: 16.07%;
  right: 21.98%;
  bottom: 82.2%;
  left: 76.35%;
}
.pagamento-conferir-child18,
.vector-icon13 {
  position: absolute;
  top: 396px;
  left: 686px;
  width: 110px;
  height: 110px;
}
.vector-icon13 {
  height: 1.04%;
  width: 1.09%;
  top: 51.85%;
  right: 61.56%;
  bottom: 47.11%;
  left: 37.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x-fil {
  margin: 0;
  font-weight: 600;
}
.feijo-preto {
  margin-bottom: 0;
}
.feijo-preto-ao-ponto-poro-d {
  margin: 0;
  padding-left: 32px;
  color: var(--color-gray-200);
}
.x-fil-container {
  position: absolute;
  top: 0;
  left: 28px;
  font-size: inherit;
}
.vector-icon14 {
  position: absolute;
  height: 7.55%;
  width: 2.05%;
  top: 3.24%;
  right: 97.95%;
  bottom: 89.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x-salada {
  position: absolute;
  top: 158px;
  left: 31px;
  font-weight: 600;
}
.vector-icon15 {
  position: absolute;
  height: 7.55%;
  width: 2.05%;
  top: 60.07%;
  right: 97.65%;
  bottom: 32.37%;
  left: 0.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.r-1990 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.group-child31 {
  position: absolute;
  height: 74.41%;
  width: 19.7%;
  top: 14.19%;
  right: -0.66%;
  bottom: 11.41%;
  left: 80.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.r-1990-parent {
  position: absolute;
  top: 0;
  left: 887px;
  width: 136px;
  height: 36px;
  text-align: right;
}
.x-salada1 {
  position: absolute;
  top: 200px;
  left: 31px;
  font-weight: 600;
}
.vector-icon16 {
  position: absolute;
  height: 7.55%;
  width: 2.05%;
  top: 75.18%;
  right: 97.65%;
  bottom: 17.27%;
  left: 0.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x-salada2 {
  position: absolute;
  top: 242px;
  left: 31px;
  font-weight: 600;
}
.group-child32,
.vector-icon17 {
  position: absolute;
  height: 7.55%;
  width: 2.05%;
  top: 90.29%;
  right: 97.65%;
  bottom: 2.16%;
  left: 0.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child32 {
  height: 22.32%;
  width: 20.93%;
  top: 4.26%;
  right: -0.7%;
  bottom: 73.42%;
  left: 79.77%;
}
.r-9901 {
  position: absolute;
  top: 42px;
  left: 0;
  font-weight: 500;
}
.group-child33 {
  position: absolute;
  height: 22.32%;
  width: 20.93%;
  top: 39.26%;
  right: -0.7%;
  bottom: 38.42%;
  left: 79.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.r-9902 {
  position: absolute;
  top: 84px;
  left: 0;
  font-weight: 500;
}
.group-child34 {
  position: absolute;
  height: 22.32%;
  width: 20.93%;
  top: 74.26%;
  right: -0.7%;
  bottom: 3.42%;
  left: 79.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.r-990-parent {
  position: absolute;
  top: 158px;
  left: 895px;
  width: 128px;
  height: 120px;
  text-align: right;
}
.x-fil-de-frango-feijo-pret-parent {
  position: absolute;
  top: 596px;
  left: 706px;
  width: 1023px;
  height: 278px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-500);
}
.pagamento-conferir {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 2023px;
  overflow: hidden;
  text-align: left;
  font-size: 35.33px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
