.material-symbolscall,
.mdifood,
.riwhatsapp-fill {
  position: absolute;
  top: 1486px;
  left: 1173px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.material-symbolscall,
.mdifood {
  left: 1129px;
}
.mdifood {
  top: 168px;
  left: 72px;
  width: 24px;
  height: 24px;
}
.galaremove,
.icon-park-solidtimer {
  position: absolute;
  top: 868px;
  left: 602px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.galaremove {
  top: 1024px;
  left: 0;
  width: 256px;
  height: 256px;
}
.fluentbox-24-filled,
.heroiconspencil-solid,
.material-symbolsstore,
.mdicalendar {
  position: absolute;
  top: 168px;
  left: 48px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.fluentbox-24-filled,
.material-symbolsstore,
.mdicalendar {
  left: 24px;
}
.fluentbox-24-filled,
.mdicalendar {
  left: 0;
}
.fluentbox-24-filled {
  top: 660px;
  left: 44px;
}
.footer,
.group-child {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  height: 369.33px;
}
.group-child {
  top: 0;
  background-color: var(--color-darkorange);
}
.vecteezy-restaurant-logo-food-icon {
  position: absolute;
  height: 46.57%;
  width: 6.81%;
  top: 14.44%;
  right: 46.6%;
  bottom: 38.99%;
  left: 46.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fast-grill-,
.todos-os-direitos {
  position: absolute;
  top: 242.67px;
  left: 789.33px;
}
.todos-os-direitos {
  top: 306.67px;
  font-size: 18.67px;
}
.header-child,
.rectangle-parent {
  position: absolute;
  left: 0;
  width: 1920px;
}
.rectangle-parent {
  top: 1654px;
  height: 369.33px;
  text-align: center;
  font-size: 42.67px;
}
.header-child {
  top: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  height: 156px;
}
.cardpio,
.home {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
  cursor: pointer;
}
.cardpio {
  left: 1089.33px;
  width: 213.33px;
}
.header-item,
.rea-do-cliente {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-item {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon1,
.vector-icon {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.pagamento-status3-child {
  position: absolute;
  top: 287px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.solarstar-bold-duotone {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.solarstar-bold-duotone-wrapper {
  position: absolute;
  top: 1057px;
  left: 1833.01px;
  width: 24px;
  height: 24px;
  display: none;
}
.seus-dados {
  position: absolute;
  top: 211px;
  left: 108px;
  font-weight: 500;
  color: var(--color-black);
}
.pagamento-status3-item {
  position: absolute;
  top: 287px;
  left: 678px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 1080px;
  height: 1120px;
}
.confira-seu-pedido {
  position: absolute;
  top: 211px;
  left: 679px;
  font-weight: 500;
  color: var(--color-black);
}
.estamos-preparando-seu,
.previso-de-retirada {
  position: absolute;
  top: 320px;
  left: 706px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.previso-de-retirada {
  top: 428px;
  left: 1029px;
  font-size: var(--font-size-17xl);
}
.seu-pedido-est {
  position: absolute;
  top: 493px;
  left: 826px;
  font-size: var(--font-size-21xl);
  color: var(--color-darkorange);
  text-align: center;
}
.aguardando {
  margin: 0;
}
.aguardando-aprovao {
  position: absolute;
  top: 766px;
  left: 780px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-400);
  text-align: center;
}
.identifique-se {
  position: absolute;
  top: 307px;
  left: 175px;
  color: var(--color-darkslategray-200);
}
.div,
.pagamento-status3-inner {
  position: absolute;
  top: 315px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-status3-inner {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-div {
  position: absolute;
  top: 423px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.forma-de-pagamento {
  position: absolute;
  top: 443px;
  left: 175px;
}
.div1,
.ellipse-div {
  position: absolute;
  top: 451px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-white);
}
.div1 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamento-status3-child1 {
  position: absolute;
  top: 559px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.confira-seu-pedido1 {
  position: absolute;
  top: 579px;
  left: 175px;
  color: var(--color-darkslategray-200);
}
.div2,
.pagamento-status3-child2 {
  position: absolute;
  top: 587px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-status3-child2 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div2 {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.forma-de-pagamento1 {
  position: absolute;
  top: 20px;
  left: 68px;
}
.div3,
.group-inner {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 38px;
  height: 38px;
}
.group-inner {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div3 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-group {
  position: absolute;
  top: 423px;
  left: 107px;
  width: 518px;
  height: 93px;
  color: var(--color-darkslategray-200);
}
.pagamento-status3-child3 {
  position: absolute;
  top: 695px;
  left: 108px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.status-do-pedido {
  position: absolute;
  top: 715px;
  left: 176px;
  color: var(--color-darkslategray-200);
}
.div4,
.pagamento-status3-child4 {
  position: absolute;
  top: 723px;
  left: 122px;
  width: 38px;
  height: 38px;
}
.pagamento-status3-child4 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div4 {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.div5,
.group-child2 {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 38px;
  height: 38px;
}
.group-child2 {
  border-radius: 50%;
  background-color: var(--color-white);
}
.div5 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-container {
  position: absolute;
  top: 695px;
  left: 107px;
  width: 518px;
  height: 93px;
}
.pedido-80 {
  position: absolute;
  top: 0;
  left: 700px;
}
.informe-o-nmero-container {
  position: absolute;
  top: 240px;
  left: 0;
  text-align: center;
}
.group-div,
.pedido-80-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 840px;
  height: 276px;
}
.group-div {
  top: 324px;
  left: 889px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.pagamento-status3-child5 {
  position: absolute;
  top: 387px;
  left: 679px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.cupons-de-desconto,
.programa-de-fidelidade {
  position: absolute;
  top: 892px;
  left: 705px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.cupons-de-desconto {
  top: 980px;
  left: 770px;
  font-size: var(--font-size-5xl);
}
.ganhe-cupons-de-container {
  position: absolute;
  top: 1016px;
  left: 770px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.pagamento-status3-child6 {
  position: absolute;
  top: 959px;
  left: 678px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.precisa-de-ajuda {
  position: absolute;
  top: 1252px;
  left: 705px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.pagamento-status3-child7 {
  position: absolute;
  top: 1319px;
  left: 678px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.b,
.pagamento-status3-child8 {
  position: absolute;
  top: 699px;
  left: 830px;
  width: 54px;
  height: 54px;
}
.pagamento-status3-child8 {
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
}
.b {
  font-size: var(--font-size-13xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pagamento-status3-child9 {
  position: absolute;
  top: 724px;
  left: 904px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-darkorange);
  width: 268px;
  height: 5px;
}
.mask-group-icon {
  position: absolute;
  height: 2.17%;
  width: 1.88%;
  top: 31.83%;
  right: 54.43%;
  bottom: 65.99%;
  left: 43.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.preparando-seu-pedido-container {
  position: absolute;
  top: 766px;
  left: 1122px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-400);
  text-align: center;
}
.b1,
.pagamento-status3-child10 {
  position: absolute;
  top: 699px;
  left: 1192px;
  width: 54px;
  height: 54px;
}
.pagamento-status3-child10 {
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
}
.b1 {
  font-size: var(--font-size-13xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.vector-icon1 {
  position: absolute;
  height: 2.13%;
  width: 1.98%;
  top: 31.88%;
  right: 35.57%;
  bottom: 65.99%;
  left: 62.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child3 {
  position: absolute;
  top: 79px;
  left: 0;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-darkorange);
  width: 268px;
  height: 5px;
}
.aguardando-retirada {
  position: absolute;
  top: 121px;
  left: 237px;
}
.b2,
.group-child4 {
  position: absolute;
  top: 54px;
  left: 287px;
  width: 54px;
  height: 54px;
}
.group-child4 {
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
}
.b2 {
  font-size: var(--font-size-13xl);
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
}
.vector-icon2 {
  position: absolute;
  height: 21.76%;
  width: 10.77%;
  top: 0;
  right: 14.1%;
  bottom: 78.24%;
  left: 75.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent1 {
  position: absolute;
  top: 645px;
  left: 1266px;
  width: 390px;
  height: 193px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-400);
}
.pagamento-status3-child11 {
  position: absolute;
  top: 988px;
  left: 705px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-700);
  width: 49px;
  height: 49px;
}
.vector-icon3 {
  position: absolute;
  height: 1.48%;
  width: 1.56%;
  top: 49.33%;
  right: 61.25%;
  bottom: 49.18%;
  left: 37.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.novos-pedidos {
  position: absolute;
  top: 1065px;
  left: 770px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.acumule-pontos-e {
  position: absolute;
  top: 1101px;
  left: 770px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.pagamento-status3-child12 {
  position: absolute;
  top: 1073px;
  left: 705px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-700);
  width: 49px;
  height: 49px;
}
.vector-icon4 {
  position: absolute;
  height: 1.48%;
  width: 1.56%;
  top: 53.53%;
  right: 61.25%;
  bottom: 44.98%;
  left: 37.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.entre-em-contato,
.pedidos-acumulativos {
  position: absolute;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-600);
}
.pedidos-acumulativos {
  top: 1150px;
  left: 770px;
  font-weight: 600;
}
.entre-em-contato {
  top: 1340px;
  left: 705px;
}
.resgate-a-fidelidade-container {
  position: absolute;
  top: 1186px;
  left: 770px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.pagamento-status3-child13,
.pagamento-status3-child14,
.pagamento-status3-child15 {
  position: absolute;
  top: 1158px;
  left: 705px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-700);
  width: 49px;
  height: 49px;
}
.pagamento-status3-child14,
.pagamento-status3-child15 {
  top: 1336px;
  left: 1612px;
}
.pagamento-status3-child15 {
  left: 1680px;
}
.vector-icon5,
.vector-icon6,
.vector-icon7 {
  position: absolute;
  height: 1.48%;
  width: 1.56%;
  top: 57.74%;
  right: 61.25%;
  bottom: 40.78%;
  left: 37.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6,
.vector-icon7 {
  height: 1.24%;
  width: 1.3%;
  top: 66.63%;
  right: 14.11%;
  bottom: 32.13%;
  left: 84.58%;
}
.vector-icon7 {
  height: 1.29%;
  width: 1.35%;
  top: 66.58%;
  right: 10.52%;
  left: 88.13%;
}
.pagamento-status3 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 2023px;
  overflow: hidden;
  text-align: left;
  font-size: 35.33px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
