.fluentbox-24-filled {
  position: absolute;
  top: 660px;
  left: 44px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.footer,
.group-child {
  position: absolute;
  top: 3875.33px;
  left: 0;
  width: 1920px;
  height: 369.33px;
}
.group-child {
  top: 0;
  background-color: var(--color-darkorange);
}
.vecteezy-restaurant-logo-food-icon {
  position: absolute;
  height: 46.57%;
  width: 6.81%;
  top: 14.44%;
  right: 46.6%;
  bottom: 38.99%;
  left: 46.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fast-grill-,
.todos-os-direitos {
  position: absolute;
  top: 242.67px;
  left: 789.33px;
}
.todos-os-direitos {
  top: 306.67px;
  font-size: 18.67px;
}
.header-child,
.rectangle-parent {
  position: absolute;
  left: 0;
  width: 1920px;
}
.rectangle-parent {
  top: 1393px;
  height: 369.33px;
  text-align: center;
  font-size: 42.67px;
}
.header-child {
  top: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  height: 156px;
}
.cardpio,
.home {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
  cursor: pointer;
}
.cardpio {
  left: 1089.33px;
  width: 213.33px;
}
.header-item,
.rea-do-cliente {
  position: absolute;
  top: 30.67px;
  left: 1468px;
  width: 414.67px;
  height: 93.33px;
}
.header-item {
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.rea-do-cliente {
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vecteezy-restaurant-logo-food-icon1,
.vector-icon {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.pagamento-forma-child {
  position: absolute;
  top: 287px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.solarstar-bold-duotone {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.solarstar-bold-duotone-wrapper {
  position: absolute;
  top: 1057px;
  left: 1833.01px;
  width: 24px;
  height: 24px;
  display: none;
}
.pagamento-forma-item {
  position: absolute;
  top: 287px;
  left: 678px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 1080px;
  height: 1063px;
}
.forma-de-pagamento {
  position: absolute;
  top: 211px;
  left: 679px;
  font-size: 35.33px;
  color: var(--color-black);
}
.selecione-o-mtodo {
  position: absolute;
  top: 319px;
  left: 714px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-darkslategray-600);
}
.identifique-se {
  position: absolute;
  top: 312px;
  left: 175px;
  color: var(--color-darkslategray-200);
}
.div,
.pagamento-forma-inner {
  position: absolute;
  top: 315px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-forma-inner {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-div {
  position: absolute;
  top: 423px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.forma-de-pagamento1 {
  position: absolute;
  top: 448px;
  left: 175px;
}
.div1,
.ellipse-div {
  position: absolute;
  top: 451px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-white);
}
.div1 {
  font-size: 25.33px;
  font-weight: 600;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamento-forma-child1 {
  position: absolute;
  top: 559px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.pagamento-forma-child2,
.pagamento-forma-child3 {
  position: absolute;
  top: 931px;
  left: 694px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 532px;
  height: 93px;
}
.pagamento-forma-child3 {
  top: 1259px;
  left: 706px;
  border: 3px solid var(--color-darkslategray-400);
  width: 507px;
  height: 74px;
}
.confira-seu-pedido {
  position: absolute;
  top: 584px;
  left: 175px;
  color: var(--color-darkslategray-200);
}
.div2,
.pagamento-forma-child4 {
  position: absolute;
  top: 587px;
  left: 121px;
  width: 38px;
  height: 38px;
}
.pagamento-forma-child4 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
}
.div2 {
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamento-forma-child5 {
  position: absolute;
  top: 695px;
  left: 108px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1.788395881652832px 1.788395881652832px 17.88px
    rgba(0, 0, 0, 0.25);
  width: 518px;
  height: 93px;
}
.status-do-pedido {
  position: absolute;
  top: 720px;
  left: 176px;
  color: var(--color-darkslategray-200);
}
.pagamento-forma-child6 {
  position: absolute;
  top: 723px;
  left: 122px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 38px;
  height: 38px;
}
.aprovao-imediata,
.div3,
.pix {
  position: absolute;
  display: flex;
  align-items: center;
}
.div3 {
  top: 723px;
  left: 122px;
  font-size: 25.33px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
.aprovao-imediata,
.pix {
  left: 0;
}
.pix {
  top: 0;
  font-weight: 600;
  width: 77px;
}
.aprovao-imediata {
  top: 45px;
  font-size: 28.96px;
  color: var(--color-gray-400);
  width: 417px;
}
.image-15-icon,
.pix-parent {
  position: absolute;
  top: 0;
  left: 105px;
  width: 417px;
  height: 88px;
}
.image-15-icon {
  top: 8px;
  left: 0;
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.group-div,
.group-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 522px;
  height: 88px;
}
.group-div {
  top: 527px;
  left: 769px;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray-300);
}
.descontos,
.r-149,
.r-4990,
.r-524,
.subtotal,
.taxa-de-servio {
  position: absolute;
  top: 114px;
  left: 0;
  display: flex;
  align-items: center;
  width: 161px;
}
.descontos,
.r-149,
.r-4990,
.r-524,
.taxa-de-servio {
  left: 900px;
  width: 247px;
}
.descontos,
.r-149,
.r-524,
.taxa-de-servio {
  top: 157px;
  left: 928px;
  width: 192px;
}
.descontos,
.r-524,
.taxa-de-servio {
  top: 200px;
  left: 919px;
  width: 209px;
}
.descontos,
.taxa-de-servio {
  top: 157px;
  left: 0;
  width: 299px;
}
.descontos {
  top: 200px;
  width: 208px;
}
.r-4615 {
  top: 252px;
  left: 864px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  width: 318px;
}
.r-4615:hover {
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: right;
}
.digite-um-cupom,
.r-4615,
.total,
.voltar {
  position: absolute;
  display: flex;
  align-items: center;
}
.total {
  top: 252px;
  left: 0;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  width: 139px;
}
.digite-um-cupom,
.voltar {
  top: 0;
  left: 65px;
  color: var(--color-darkorange);
  width: 467px;
  height: 93px;
}
.voltar {
  top: 329px;
  left: 0;
  color: var(--color-darkslategray-400);
  text-align: center;
  justify-content: center;
  width: 507px;
  height: 74px;
}
.pagamento-forma-inner1,
.subtotal-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1182px;
  height: 403px;
}
.pagamento-forma-inner1 {
  top: 930px;
  left: 706px;
  font-size: 28.96px;
  color: var(--color-gray-400);
}
.group-item {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-400);
}
.avanar,
.group-item,
.rectangle-group {
  position: absolute;
  width: 507px;
  height: 74px;
}
.avanar {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-group {
  top: 1259px;
  left: 1222px;
  cursor: pointer;
  text-align: center;
  font-size: 28.96px;
}
.frame-child {
  position: absolute;
  top: 128px;
  left: 0;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 256px;
  left: 0;
}
.frame-inner {
  top: 384px;
}
.ellipse-formcontrollabel {
  position: absolute;
  top: 0;
  left: 0;
}
.ellipse-parent,
.pagamento-forma-inner2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 422px;
}
.pagamento-forma-inner2 {
  top: 424px;
  left: 706px;
}
.dinheiro,
.fcil-e-rpido {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.dinheiro {
  top: 0;
  font-weight: 600;
  width: 229px;
}
.fcil-e-rpido {
  top: 45px;
  font-size: 28.96px;
  color: var(--color-gray-400);
  width: 272px;
}
.dinheiro-parent,
.meu-projeto-1 {
  position: absolute;
  top: 0;
  left: 102px;
  width: 272px;
  height: 88px;
}
.meu-projeto-1 {
  top: 21px;
  left: 0;
  width: 66px;
  height: 46px;
  object-fit: cover;
}
.group-container {
  position: absolute;
  top: 399px;
  left: 772px;
  width: 374px;
  height: 88px;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray-300);
}
.carto-de-dbito,
.compra-segura {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.carto-de-dbito {
  top: 0;
  font-weight: 600;
  width: 462px;
}
.compra-segura {
  top: 45px;
  font-size: 28.96px;
  color: var(--color-gray-400);
  width: 321px;
}
.carto-de-dbito-parent,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 462px;
  height: 88px;
}
.group-wrapper {
  left: 103px;
}
.magnetic-card-icon {
  position: absolute;
  top: 21px;
  left: 0;
  width: 68px;
  height: 48px;
  object-fit: cover;
}
.group-parent1 {
  position: absolute;
  top: 655px;
  left: 771px;
  width: 565px;
  height: 88px;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray-300);
}
.carto-de-crdito,
.compra-segura1 {
  position: absolute;
  left: 103px;
  display: flex;
  align-items: center;
}
.carto-de-crdito {
  top: 0;
  font-weight: 600;
  width: 487px;
}
.compra-segura1 {
  top: 45px;
  font-size: 28.96px;
  color: var(--color-gray-400);
  width: 321px;
}
.carto-de-crdito-parent {
  position: absolute;
  top: 783px;
  left: 771px;
  width: 590px;
  height: 88px;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray-300);
}
.pagamento-forma-child7 {
  position: absolute;
  top: 912px;
  left: 678px;
  background-color: var(--color-gainsboro);
  width: 1080px;
  height: 2px;
}
.group-icon {
  position: absolute;
  height: 2.1%;
  width: 1.51%;
  top: 54.54%;
  right: 60.73%;
  bottom: 43.36%;
  left: 37.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pagamento-forma-child8 {
  position: absolute;
  top: 930px;
  left: 1250px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 479px;
  height: 93px;
}
.resgatar-fidelidade {
  position: absolute;
  top: 930px;
  left: 1266px;
  font-size: 28.96px;
  color: var(--color-darkorange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 463px;
  height: 93px;
}
.group-icon1 {
  position: absolute;
  height: 2.07%;
  width: 1.9%;
  top: 54.47%;
  right: 32.23%;
  bottom: 43.46%;
  left: 65.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pagamento-forma {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1762px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
