@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.cardpio8,
.home8 {
  position: absolute;
  top: 48px;
  left: 904px;
  display: inline-block;
  width: 126.67px;
}
.cardpio8 {
  left: 1089.33px;
  width: 213.33px;
  cursor: pointer;
}
.group-child77 {
  top: 0;
  left: 0;
  border-radius: 66.67px;
  background-color: var(--color-white);
}
.group-child77,
.rea-do-cliente7,
.rectangle-parent32 {
  position: absolute;
  width: 414.67px;
  height: 93.33px;
}
.rea-do-cliente7 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent32 {
  top: 30.67px;
  left: 1468px;
  color: var(--color-gray);
}
.rectangle-parent32:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.vecteezy-restaurant-logo-food-icon19,
.vector-icon41 {
  position: absolute;
  height: 69.23%;
  width: 4.44%;
  top: 14.53%;
  right: 90%;
  bottom: 16.24%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon41 {
  height: 30.77%;
  width: 2.5%;
  top: 35.04%;
  right: 26.6%;
  bottom: 34.19%;
  left: 70.9%;
  cursor: pointer;
}
.header7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
  box-shadow: 0 5.333333492279053px 66.67px 13.33px rgba(0, 0, 0, 0.2);
  width: 1920px;
  height: 156px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
